.GlobalContainerT{
display: flex;
flex-direction: column;
height: auto;
}
.ContactContainerT{
display: flex;
align-self: center;
margin-top: 10vh;
flex-direction: column;
height: auto;
padding: 3rem;
width: auto;
max-width: 1100px;
background-color: #26272b;
border-radius: 12px;
box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
}
.FormContainerT{
display: flex;
align-self: center;
margin-top: 2vh;
width: 60vw;
max-width: 900px;
height: 60%;
}
.EmailContainerT{
display: flex;
width: 55%;
justify-content: center;
flex-direction: column;
}
.EmailFieldT{
display: flex;
flex-direction: column;
justify-content: center;
align-self: center;
width: 80%;
}
.EmailTitleT{
font-family: 'Ubuntu', sans-serif;
display: flex;
height: 25px;
width: auto;
color: #efc32e;
align-self: center;
margin-top: 3%;
margin-bottom: 3%;
font-size: 23px;
text-shadow: 0 5px 7px rgb(239 194 46 / 10%);
transition: all 0.4s 0s ease;
}
.EmailTitleT:hover{
    text-shadow: 0 5px 9px rgb(239 194 46 / 30%); 
    color: #f7cb36;
}
.InputT{
display: block;
background-color: #969696;
font-family: inherit;
font-size: 15px;
font-weight: inherit;
line-height: 30px;
border: 2px solid #828282;
border-radius: 0.4rem;
box-shadow: 0px 5px 10px rgb(150 150 150 / 10%);
transition: all 0.3s 0s ease;
}
.InputT::placeholder{
    color: #515257;
}
.InputT:focus{
    outline: none;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}
.InputT:hover{
    border: 2px solid #fff;
    box-shadow: 2px 10px 17px rgba(0,0,0,0.3);
}
.ErrorT{
font-family: 'Ubuntu', sans-serif;
color: #8a3030;
font-weight: 100;
font-size: 18px;
align-self: center;
height: 25px;
}
.MessageT{
font-family: inherit;
display: flex;
border-radius: 0.4rem;
background-color: #969696;
border: 2px solid #828282;
flex-direction: column;
transition: all 0.3s 0s ease;
box-shadow: 0px 5px 10px rgb(150 150 150 / 10%);
height: 10vh;
}
.MessageT:hover{
    border: 2px solid #fff;
    box-shadow: 2px 10px 17px rgba(0,0,0,0.3);
}
.MessageT::placeholder{
    font-size: 16px;
    color: #515257;
}
.SendButtonT{
align-self: center;
appearance: none;
color: #e6e6e6;
background-color: transparent;
border: 2px solid #e6e6e6;
border-radius: 6px;
cursor: pointer;
outline: none;
transition: all 0.4s 0s ease;
font-size: 25px;
padding: .2vw;
width: 80%;
}
.SendButtonT:hover{
    color: #26272b;
    background-color: #e6e6e6;
    box-shadow: 2px 10px 17px rgba(0,0,0,0.6);
}
.ContactInfoContainerT{
display: flex;
align-items: center;
justify-content: center;
width: 45%;
flex-direction: column;
}
.ContactInfoT{
display: flex;
flex-direction: column;
justify-content: center;
height: fit-content;    
}
.LocationT{
display: flex;
align-items: center;
margin: .5vw;
}
.MailT{
display: flex;
align-items: center;
margin: .5vw;
}
.SeparationT{
display: flex;
height: 2px;
color: #e6e6e6;
width: 45%;
margin-top: .6vw;
background-color: #e6e6e6;
border-radius: 3px;
}
.ContactIconsT{
display: flex;
flex-direction: row;
width: 40%;
margin-top: .6vw;
justify-content: space-between;
}
.InfoT{
font-family: 'Ubuntu', sans-serif;
display: flex;
color: #e6e6e6;
width: fit-content;
margin-left: 1vw;
}
/*========================================== media queries ==========================================*/
@media screen and (max-width: 1000px) {
    .ContactIconsT{
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    .ContactContainerT{
        margin-top: 5vh;
    }
    .FormContainerT{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .EmailContainerT{
        width: 85%;
        margin-top: 1rem;
    }
    .EmailTitleT{
        height: auto;
        align-items: center;
        text-align: center;
    }
    .ContactContainerT{
        width: 80%;
    }
    .SeparationT{
        width: 70%;
    }
    .ContactIconsT{
        justify-content: space-around;
    }
}
@media screen and (max-width: 600px) {
    .SeparationT{
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .ContactContainerT{
        padding: 1.5rem;

    }
    .FormContainerT{
        width: 70vw;
    }
    .EmailContainerT{
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .SeparationT{
        width: 90%;
    }
    .ContactIconsT{
        width: 65%;
    }
}